// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }


/* graphisme Principal*/

div [id="informations"], div [id="description"]{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* graphisme header */

header h1{
  font-size: 4.2em;
  font-weight: 100 ;
}

header p{
  font-size: 2em;
}

header h1 span{
  color: #ffc107;
}


header{
  margin-bottom: 15%;
}


/* Graphisme informations*/

div [id="informations"] h2{
  font-size: 2em;
}


div [id="informations"] h2{
  color: black;
  text-transform: uppercase;
}

div [id="description"] h2{    
  text-transform: uppercase;
}

div [id="informations"] p{
  color: #4a4a4a
}

hr{
  background-color: #ffc107;
}

div [id="informations"] header , div [id="informations"] div {
  margin-left: 4%;margin-right: 4%;
}

div [id="description"] header , div [id="description"] div p {
  margin-left: 4%;margin-right: 4%;
}