// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

header em{
  color: #ffc107;
}

div [id="informations"] h2{
  color: black;
  text-transform: uppercase;
}

div [id="description"] h2{    
  text-transform: uppercase;
}

div [id="informations"] p{
  color: #4a4a4a
}

hr{
  background-color: #ffc107;
}

div [id="informations"] header , div [id="informations"] div {
  margin-left: 4%;margin-right: 4%;
}

div [id="description"] header , div [id="description"] div p {
  margin-left: 4%;margin-right: 4%;
}