/*Point de rupture*/
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }
// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

a{         /*position bouton*/
    position: absolute;
    top: 0;
    right: 0;
}
div [id="block1"] h2{        /* format police*/
    text-transform: uppercase;
    font-size: 2em;
}
div [id="block1"] div p {         /* marge + alignement texte p */
    margin-left: 10%;margin-right: 10%;
    text-align: justify;
    font-weight: 500;
  }
div [id="block1"] div{          /* marge haut + alignement texte div*/
    text-align: center;
}
div [id="contact"] p{          /* marge haut + alignement texte div*/
    text-align: justify;
}
div [id="block1"] div[id="moi"]{         /* marge img*/
    text-align: center;
    padding: 5%;
} 
.filter-grey{         /* couleur icones*/
    filter: invert(19%) sepia(13%) saturate(502%) hue-rotate(169deg) brightness(98%) contrast(89%);
}
  


